body {
	margin: 0;
	padding: 0;

	top: 0;
	left:0;
	height: 100vh;
	min-height: 100%;
	overflow: hidden;
	transition: 2s;
	transition-delay: 5s;
}
#main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: center;

	background-image: url("bg1.jpg");
	background-position: cover;
	
	transition: 0.75s;
	transition-timing-function: cubic-bezier(.87,.11,.23,.95);

	border-bottom: 5px solid rgba(50,50,50,0.5);
}
#title_text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
#title_name {
	margin-top: 25vh;
	font-family: 'Poppins', serif;
	font-size: 112px;
	color: white;
	padding-right: 12vw;

	z-index: 1000;

	transition: 1s;
}
#title_name:hover {
	opacity: 0;
}
#title_therapy {
	font-family: 'Poppins', serif;
	font-size: 46px;
	color: white;
	opacity: 0.75;
}
#title_slogan {
	font-family: 'Bilbo', cursive;
	font-family: 'Poppins', serif;	
	font-size: 56px;

	padding-right: 5vw;
	width: 100%;
	height: 0;

	transform: translateY(-125px);
	opacity: 0;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: center;

	transition: 0.5s;
  	transition-timing-function: ease-out;
}
#title_name:hover + #title_slogan {
	opacity: 1;
	transition: 3s;
}
#continue_text {
	position: absolute;
	font-family: 'Poppins', serif;
	font-size: 18px;
	color: rgba(255,255,255,0.2);
	margin-top: 85vh;
}
#continue {
	padding-top: 30vh;
	font-size: 32px;
	color: rgba(255,255,255,0.2);
}
#all {
	overflow: scroll;
	/*height: 100vh;*/
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	color: rgba(60,60,60,1);
	background-color: transparent;
}
.content {
	opacity: 0;
	transition: 0.5s;
	transition-delay: 0.5s;
}
#navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: center;
	justify-content: center;
	height: 13vh;
}
#nav_title {
	padding: 15px;
	font-family: 'Poppins', serif;
	font-size: 46px;
}
#navbar_selects {
	width: 60%;
	background-color: rgba(233,233,255,0.5);
	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: center;
	justify-content: space-around;
}
.nav {
	width: 25%;
	text-align: center;
	color: rgba(50,50,50,0.9);
	font-family: 'Poppins', serif;
	font-size: 18px;
	transition: 0.75s;

	background-color: rgba(55,50,133,0.05);
	border: 3px solid rgba(255,255,255,1);
	border-radius: 2px;
}
.nav:hover {
	transition: 0.2s;
	color: white;
	cursor: pointer;
}
.nav_selected {
	border: 3px solid rgba(0,0,0,0);
	background-color: rgba(55,50,133,0.2);
	/*font-size: 20px;*/
}
#content_img {
	width: 100%;
}
#content_img img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
#cards {
	position: relative;
	height: 88vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	background: -webkit-linear-gradient(rgb(255,255,255), rgb(255,255,255), rgba(199,189,255,0.2));
	background: -o-linear-gradient(rgb(255,255,255), rgb(255,255,255), rgba(199,189,255,0.2));
	background: linear-gradient(rgb(255,255,255), rgb(255,255,255), rgba(199,189,255,0.2));

}
.card p {
	margin: 0;
	padding: 0;
}
strong {
	font-size: 22px;
	maring-bottom: 0;
	padding-bottom: 0;
}
.card {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 60%;
	padding: 50px;
	padding-top: 15px;
	z-index: 1000;
	font-family: 'Poppins', serif;
	font-size: 18px;
	opacity: 0;

	transition: 1s;
}
.minor_text {
	font-size: 12px;
}
#card_about {
	text-align: center;
	opacity: 1;
}
#card_about img {
	width: 			50px;
	height: 		50px;
	border-radius: 	50px;
	object-fit: cover;
	object-fit: 5px 5px;
}
#card_treatment strong {
	padding-left: 50px;
}
#card_treatment .minor_text {
	font-size: 14px;
}
#card_sessions {
}
.grid_display {
	display: grid;
	grid-template-columns: 50% 50%;
}
#card_treatment {
	grid-template-columns: 40% 60%;
}
#card_treatment {
	width: 60%;
}
.grid_el {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.mid {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.center {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	justify-content: center;
}
.spacer {
	min-height: 0px;
	height: 0px;
	margin: 25px;
	border-bottom: 2px solid rgba(199,189,255,0.2);
}
.list {
	/*padding-top: 25px;*/
}
#card_qualifications {
	grid-template-columns: 40% 60%;
}
#card_qualifications .grid_el {
	margin: 5px;
}
#card_qualifications p {
	font-size: 14px	;
}
#card_contact {
	width: 20%;
	padding: 50px;
	margin: 5px;
	box-shadow: 0px 24px 25px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
#card_contact a {
	text-decoration: none;
	color: rgba(60,60,60,1);
}
#card_contact a:hover {
	text-decoration: none;
	color: rgba(60,60,155,0.5);
	text-decoration: underline;
}
#card_contact img {
	margin-top: 	25px;
	margin-bottom: 	75px;
	width: 			100px;
	height: 		100px;
	border-radius: 	100px;
	object-fit: 	cover;
	object-fit: 	5px 5px;
}
#card_contact:hover {
	cursor: pointer;
	/*box-shadow: 0px 24px 25px rgba(0,0,0,0.1);*/
	box-shadow: 0px 0px 0px rgba(0,0,0,0.05);

}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}